/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.4_react-dom@18.3.1_react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.3_@babel+core@7.24.4_react-dom@18.3.1_react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/(home)/carousel.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.carousel-item {
  /* Shared animation proprties apply to all */
  opacity: 0;
  transform: translateY(100%);
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* These are the delays */
.carousel-item:nth-child(1) {
  animation-delay: 0s;
}
.carousel-item:nth-child(2) {
  animation-delay: 2s;
}
.carousel-item:nth-child(3) {
  animation-delay: 4s;
}

/* Animation definition */
@keyframes slide {
  0% {
    transform: translateY(100%);
  }

  8% {
    opacity: 0;
  }

  33% {
    opacity: 1;
    transform: translateY(0%);
  }

  43% {
    opacity: 0;
  }

  66% {
    transform: translateY(-100%);
  }
}

